<!doctype html>
<html>
<head>
   <title>{% block page_title %}{% endblock %}</title>
   <meta name="renderer" content="webkit">
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   {% block meta %}{% endblock %}
   <link rel="Shortcut Icon" href="{{ static('image/favicon.ico') }}">
   {{ link('bower_components/bootstrap/dist/css/bootstrap.min.css') }}
   {{ link('bower_components/font-awesome/css/font-awesome.min.css') }}
   {{ link('css/bootstrap.theme.css') }}
   {{ link('css/common.css') }}
   {{ link('css/component.css') }}
   {{ link('css/layout.css') }}
   {% block page_css %}{% endblock %}
   {{ script('bower_components/respond/dest/respond.min.js') }}
   {{ script('bower_components/jquery/dist/jquery.min.js') }}
   {{ script('bower_components/bootstrap/dist/js/bootstrap.min.js') }}
   {{ script('bower_components/jquery.scrollTo/jquery.scrollTo.min.js') }}
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
</head>

<body id="{% block page_id %}{% endblock %}">

{# Flash message #}
{% with message = get_flashed_messages()[0] %}
   {% if message %}
      <div class="alert alert-info flash-message">{{ message }}</div>
   {% endif %}
{% endwith %}

<nav class="navbar navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <a class="navbar-brand" href="{{ url_for('site.index') }}">
            <span class="text-main">TUI</span> <span class="text-black">Studio</span>
         </a>
      </div>

      <div class="collapse navbar-collapse">
         <a href="{{ url_for('site.business') }}" class="btn navbar-btn btn-primary navbar-right">
            <span class="fa fa-paper-plane"></span>&nbsp;&nbsp;Start Your Project
         </a>

         <ul class="nav navbar-nav navbar-right">
            <li data-scroll-target="services">
               <a href="{{ url_for('site.index') }}#services">SERVICES</a>
            </li>
            <li data-scroll-target="works">
               <a href="{{ url_for('site.index') }}#works">WORKS</a>
            </li>
            <li data-scroll-target="techs">
               <a href="{{ url_for('site.index') }}#techs">TECHS</a>
            </li>
            <li data-scroll-target="process">
               <a href="{{ url_for('site.index') }}#process">PROCESS</a>
            </li>
            {#            <li data-scroll-target="contact">#}
            {#               <a href="{{ url_for('site.index') }}#contact">CONTACT</a>#}
            {#            </li>#}

            {% if g.user %}
               <li id="nav-settings">
                  <a href="#">{{ g.user.name }}</a>
               </li>
               <li>
                  <a href="#">登出</a>
               </li>
            {% endif %}
         </ul>
      </div>
   </div>
</nav>

<div id="main-wap">
   {% block page_content %}{% endblock %}
</div>

<div class="footer">
   <div class="container">
      <div class="footer-left pull-left">
         <div class="clearfix">
            <ul class="links pull-left list-unstyled list-inline">
               <li><a>Legal</a></li>
               <li><a>Privacy</a></li>
               <li><a>Terms</a></li>
               <li><a>Jobs</a></li>
               <li><a>Enterprise</a></li>
               <li><a>Partners</a></li>
               <li><a href="http://wiki.tuistudio.com" target="_blank">Wiki</a></li>
               <li><a>Blog</a></li>
            </ul>

            <img class="usa pull-left" src="{{ static('image/usa.png') }}" alt="USA"/>
         </div>

         <div class="cp">© 2013-2014 TUI Studio. ALL RIGHTS RESERVED.</div>

         <ul class="icons list-inline list-unstyled">
            <li>
               <a href="http://twitter.com" target="_blank">
                  <span class="fa fa-twitter"></span>
               </a>
            </li>
            <li>
               <a href="https://dribbble.com/tuistudio" target="_blank">
                  <span class="fa fa-dribbble"></span>
               </a>
            </li>
            <li>
               <a href="https://github.com/tuistudio" target="_blank">
                  <span class="fa fa-github"></span>
               </a>
            </li>
         </ul>
      </div>

      <div class="footer-right pull-right">
         <div class="logo">
            <span class="text-main">TUI</span> Studio
         </div>

         <div class="slogan">Let Our Apps Help Connect With Your Clients.</div>
      </div>
   </div>
</div>

{# 访问统计 #}

{# 单页Js代码 #}
{% block page_js %}{% endblock %}

{# 全局Js代码 #}
<script type="text/javascript">
   var locals = locals || {};
   locals = $.extend(locals, {
   });
</script>
{{ script('js/layout.js') }}

</body>
</html>