@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(/static/fonts/AwBqWF2kjhlybWamaKMPcbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(/static/fonts/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(/static/fonts/yVHpdQrmTj9Kax1tmFSx2rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
#page-business h1 {
  margin: 50px 0 40px 0;
}
#page-business .form-wap {
  width: 513px;
}
#page-business .form-group {
  margin-bottom: 20px;
}
#page-business textarea {
  resize: vertical;
}
#page-business .project-type-selector .btn-primary {
  background-color: white;
  border: 1px solid #cccccc;
  color: #999999;
}
#page-business .project-type-selector .btn-primary:hover {
  border: 1px solid #36a9e5;
}
#page-business .project-type-selector .btn-primary:focus {
  box-shadow: none;
}
#page-business .project-type-selector .btn-primary.active {
  border: 1px solid #36a9e5;
  color: #555;
  box-shadow: none;
}
#page-business .project-type-selector .btn-primary.active span {
  color: #1b90cd;
}
#page-business .fancy-select {
  width: 160px;
  margin-left: 16px;
  float: left;
}
#page-business .fancy-select .trigger {
  color: #555555;
}
#page-business .fancy-select * {
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
}
#page-business .fancy-select:first-child {
  margin-left: 0;
}
#page-business .btn-lg {
  font-size: 16px;
}
