@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: lighter;
  src: url(/static/fonts/lato-light-webfont.woff) format('woff');
}
@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: normal;
  src: url(/static/fonts/lato-regular-webfont.woff) format('woff');
}
@font-face {
  font-family: 'latobold';
  font-style: normal;
  font-weight: bold;
  src: url(/static/fonts/lato-bold-webfont.woff) format('woff');
}
@font-face {
  font-family: 'iconfont';
  src: url('/static/fonts/iconfont.eot');
  src: url('/static/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/static/fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('/static/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('/static/fonts/iconfont.svg#uxiconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
#page-business h1 {
  margin: 50px 0 40px 0;
}
#page-business .form-wap {
  width: 494px;
}
#page-business .form-group {
  margin-bottom: 20px;
}
#page-business textarea {
  resize: vertical;
}
#page-business textarea.field-error,
#page-business input.field-error,
#page-business select.field-error + .trigger {
  border: 1px solid red;
}
#page-business .project-type-selector.field-error label {
  border-top-color: red;
  border-bottom-color: #ff0000;
}
#page-business .project-type-selector .btn-primary {
  background-color: white;
  border: 1px solid #cccccc;
  color: #999999;
}
#page-business .project-type-selector .btn-primary:hover {
  border: 1px solid #36a9e5;
}
#page-business .project-type-selector .btn-primary:focus {
  box-shadow: none;
}
#page-business .project-type-selector .btn-primary.active {
  border: 1px solid #36a9e5;
  color: #555;
  box-shadow: none;
}
#page-business .project-type-selector .btn-primary.active span {
  color: #1b90cd;
}
#page-business .fancy-select {
  width: 154px;
  margin-left: 16px;
  float: left;
}
#page-business .fancy-select .trigger {
  color: #555555;
  padding: 10px 24px 10px 10px;
}
#page-business .fancy-select * {
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
}
#page-business .fancy-select:first-child {
  margin-left: 0;
}
#page-business .btn-lg {
  font-size: 16px;
}
