@import "../utils";

#page-business {
  h1 {
    margin: 50px 0 40px 0;
  }

  .form-wap {
    width: 494px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  textarea {
    resize: vertical;
  }

  // 表单错误
  textarea.field-error,
  input.field-error,
  select.field-error + .trigger {
    border: 1px solid red;
  }

  .project-type-selector.field-error {
    label {
      border-top-color: red;
      border-bottom-color: #ff0000;
    }
  }

  .project-type-selector {
    .btn-primary {
      background-color: white;
      border: 1px solid #cccccc;
      color: #999999;

      &:hover {
        border: 1px solid @main-color;
      }

      &:focus {
        box-shadow: none;
      }

      &.active {
        border: 1px solid @main-color;
        color: #555;
        span {
          color: darken(@main-color, 10%);
        }

        box-shadow: none;
      }
    }
  }

  .fancy-select {
    width: 154px;
    margin-left: 16px;
    float: left;

    .trigger {
      color: #555555;
      padding: 10px 24px 10px 10px;
    }

    * {
      .transition(200ms);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .btn-lg {
    font-size: 16px;
  }
}