@import "../utils";

#page-business {
  h1 {
    margin: 50px 0 40px 0;
  }

  .form-wap {
    width: 513px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  textarea {
    resize: vertical;
  }

  .project-type-selector {
    .btn-primary {
      background-color: white;
      border: 1px solid #cccccc;
      color: #999999;

      &:hover {
        border: 1px solid @main-color;
      }

      &:focus {
        box-shadow: none;
      }

      &.active {
        border: 1px solid @main-color;
        color: #555;
        span {
          color: darken(@main-color, 10%);
        }

        box-shadow: none;
      }
    }
  }

  .fancy-select {
    width: 160px;
    margin-left: 16px;
    float: left;

    .trigger {
      color: #555555;
    }

    * {
      .transition(200ms);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .btn-lg {
    font-size: 16px;
  }
}