@import "../utils";

#page-index {
  .navbar {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }

  .market {
    padding: 120px 0 120px 0;
    background: url('/static/image/triangles.png') repeat;
    border-bottom: 1px solid #EEEEEE;

    h1 {
      font-size: 65px;
      font-weight: normal;
      margin-bottom: 20px;
    }

    p {
      font-size: 22px;
      color: #666;
    }
  }

  .title {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin: 50px 0;
  }

  .works {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;

    .title {
    }

    img {
      display: inline-block;
      height: 47px;

      &.aod {
        height: 45px;
        margin-right: 100px;
      }

      &.lemaker {
        margin-right: 80px;
      }

      &.optico {
        height: 70px;
      }
    }
  }

  .services {
    margin-top: 60px;
    padding-bottom: 200px;
    background-color: @main-color;
    color: white;
  }

  .tech {
    .tech-item {
      height: 80px;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .contact {
    ul {
      padding: 20px 0 0 50px;
      list-style-type: square;

      li {
        margin-bottom: 5px;
      }
    }
  }
}





