@import "../utils";

#page-index {
  .navbar {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }

  .banner {
    padding-top: 120px;
    height: 600px;
    background: url('/static/image/banner.png') no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid #EEEEEE;
    color: white;
    position: relative;

    h1 {
      font-size: 65px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      font-size: 22px;
      margin-bottom: 140px;
      font-weight: lighter;
    }

    .icons {
      text-align: center;
      font-size: 26px;
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      bottom: 20px;

      li {
        padding: 0 8px;

        a {
          color: white;
          opacity: .5;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  h1 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin: 70px 0 50px 0;
  }

  .services {
    padding-bottom: 70px;
    background-color: #f8f8f8;

    .service {
      text-align: center;

      .fa {
        font-size: 80px;
        display: block;
        margin-bottom: 20px;
      }

      .title {
        font-size: 18px;
        margin-bottom: 15px;
      }

      .gap {
        border-top: 1px solid #cccccc;
        width: 150px;
        margin: 0 auto 15px auto;
      }

      .desc {
        padding: 0 20px;
      }
    }
  }

  .works {
    text-align: center;
    padding-bottom: 70px;

    .title {
    }

    img {
      display: inline-block;
      height: 47px;
      margin-left: 50px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .work {
    padding: 0px 0 70px 0;
    background-color: greenyellow;

    &.aod {
      background-color: rgb(93, 196, 173);

      h1 {
        color: #FFFFFF;
      }
    }

    &.lemaker {
      background-color: #ebeced;
    }

    &.tq {
      background-color: @main-color;

      h1 {
        color: #FFFFFF;
      }
    }

    &.lft {
      h1 {
        color: #FFFFFF;
      }

      background-color: rgb(200, 161, 91);
    }

    .image-wap {
      height: 510px;
      width: 739px;
      background: url(/static/image/iMac.png) no-repeat center center;
      margin: 0 auto;
      overflow: hidden;
      position: relative;

      img {
        width: 669px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
        position: absolute;
        top: 35px;
        left: 35px;
      }
    }
  }

  .techs {
    padding-top: 70px;

    img {
      width: 80%;
    }
  }

  .process {
    p {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  .contact {
    ul {
      padding: 30px 0 0 50px;
      font-size: 16px;

      li {
        margin-bottom: 10px;

        .fa,
        .glyphicon {
          margin-right: 10px;
        }
      }
    }
  }
}
