@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(/static/fonts/AwBqWF2kjhlybWamaKMPcbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(/static/fonts/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(/static/fonts/yVHpdQrmTj9Kax1tmFSx2rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
#page-index .navbar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#page-index .market {
  padding: 140px 0 20px 0;
  background: url('/static/image/triangles.png') repeat;
  border-bottom: 1px solid #EEEEEE;
}
#page-index .market h1 {
  font-size: 65px;
  font-weight: normal;
  margin-bottom: 20px;
}
#page-index .market p {
  font-size: 22px;
  margin-bottom: 140px;
  color: #666;
}
#page-index .market .icons {
  text-align: center;
  font-size: 26px;
}
#page-index .market .icons li {
  padding: 0 8px;
}
#page-index h1 {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  margin: 70px 0 50px 0;
}
#page-index .services {
  padding-bottom: 70px;
  background-color: #f8f8f8;
}
#page-index .services .service {
  text-align: center;
}
#page-index .services .service .fa {
  font-size: 80px;
  display: block;
  margin-bottom: 20px;
}
#page-index .services .service .title {
  font-size: 18px;
  margin-bottom: 15px;
}
#page-index .services .service .gap {
  border-top: 1px solid #cccccc;
  width: 150px;
  margin: 0 auto 15px auto;
}
#page-index .services .service .desc {
  padding: 0 20px;
}
#page-index .works {
  text-align: center;
  padding-bottom: 70px;
}
#page-index .works img {
  display: inline-block;
  height: 47px;
  margin-left: 50px;
}
#page-index .works img:first-child {
  margin-left: 0;
}
#page-index .work {
  padding: 0px 0 70px 0;
  background-color: greenyellow;
}
#page-index .work.aod {
  background-color: #5dc4ad;
}
#page-index .work.aod h1 {
  color: #FFFFFF;
}
#page-index .work.lemaker {
  background-color: #ebeced;
}
#page-index .work.tq {
  background-color: #36a9e5;
}
#page-index .work.tq h1 {
  color: #FFFFFF;
}
#page-index .work.lft {
  background-color: #c8a15b;
}
#page-index .work.lft h1 {
  color: #FFFFFF;
}
#page-index .work .image-wap {
  height: 510px;
  width: 739px;
  background: url(/static/image/iMac.png) no-repeat center center;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#page-index .work .image-wap img {
  width: 669px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 35px;
  left: 35px;
}
#page-index .techs {
  padding-top: 70px;
}
#page-index .techs img {
  width: 80%;
}
#page-index .process p {
  font-size: 18px;
  margin-bottom: 15px;
}
#page-index .contact ul {
  padding: 30px 0 0 50px;
  font-size: 16px;
}
#page-index .contact ul li {
  margin-bottom: 10px;
}
#page-index .contact ul li .fa,
#page-index .contact ul li .glyphicon {
  margin-right: 10px;
}
