@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: lighter;
  src: url(/static/fonts/lato-light-webfont.woff) format('woff');
}
@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: normal;
  src: url(/static/fonts/lato-regular-webfont.woff) format('woff');
}
@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: bold;
  src: url(/static/fonts/lato-bold-webfont.woff) format('woff');
}
@font-face {
  font-family: 'nexa';
  font-style: normal;
  font-weight: lighter;
  src: url(/static/fonts/nexa-light-webfont.woff) format('woff');
}
@font-face {
  font-family: 'nexa';
  font-style: normal;
  font-weight: normal;
  src: url(/static/fonts/nexa-bold-webfont.woff) format('woff');
}
@font-face {
  font-family: 'iconfont';
  src: url('/static/fonts/iconfont.eot');
  src: url('/static/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/static/fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('/static/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('/static/fonts/iconfont.svg#uxiconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@-webkit-keyframes orangeIn {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.95;
  }
}
@-moz-keyframes orangeIn {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.95;
  }
}
@-ms-keyframes orangeIn {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.95;
  }
}
@keyframes orangeIn {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.95;
  }
}
@-webkit-keyframes orangeOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.95;
  }
  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}
@-moz-keyframes orangeOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.95;
  }
  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}
@-ms-keyframes orangeOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.95;
  }
  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}
@keyframes orangeOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.95;
  }
  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}
#page-index .navbar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#page-index .banner {
  padding-top: 200px;
  height: 560px;
  background: url('/static/image/banner.png') no-repeat center center;
  background-size: cover;
  color: white;
  position: relative;
}
#page-index .banner h1 {
  font-size: 65px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 0;
}
#page-index .banner p {
  font-size: 22px;
  font-weight: lighter;
}
#page-index .banner .icons {
  text-align: center;
  font-size: 26px;
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 20px;
}
#page-index .banner .icons li {
  padding: 0 8px;
}
#page-index .banner .icons li a {
  color: white;
  opacity: .5;
}
#page-index .banner .icons li a:hover {
  opacity: 1;
}
#page-index h1 {
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
  margin: 70px 0 50px 0;
}
#page-index .services {
  padding-bottom: 70px;
  background-color: #EEEEEE;
}
#page-index .services .service {
  text-align: center;
}
#page-index .services .service .fa,
#page-index .services .service .iconfont {
  font-size: 85px;
  line-height: 1;
  display: block;
  margin-bottom: 25px;
  color: #36a9e5;
}
#page-index .services .service .title {
  font-size: 20px;
  margin-bottom: 20px;
}
#page-index .services .service .gap {
  border-top: 1px solid #cccccc;
  width: 150px;
  margin: 0 auto 20px auto;
}
#page-index .services .service .desc {
  padding: 0 20px;
}
#page-index .work img {
  width: 100%;
}
#page-index .slogan {
  text-align: center;
  padding: 80px 0;
  line-height: 1.8;
  font-size: 30px;
  font-weight: lighter;
  color: white;
  background-color: #36a9e5;
}
#page-index .techs img.tech-icons {
  padding-bottom: 70px;
  width: 80%;
}
#page-index .techs .screen {
  text-align: center;
}
#page-index .techs .screen img {
  max-width: 100%;
  display: inline-block;
}
#page-index .techs .screen .design-screen {
  width: 40%;
}
#page-index .techs .screen .tech-screen {
  width: 40%;
}
#page-index .techs .screen .love {
  padding: 0 20px;
}
@media (max-width: 768px) {
  #page-index .techs .screen img {
    display: block;
    margin: 0 auto;
  }
  #page-index .techs .screen .design-screen {
    width: 80%;
  }
  #page-index .techs .screen .tech-screen {
    width: 80%;
  }
  #page-index .techs .screen .love {
    padding: 25px 0px;
  }
}
#page-index .steps {
  padding-bottom: 80px;
  background-color: #eeeeee;
}
#page-index .steps .step {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  width: 200px;
  display: inline-block;
}
#page-index .steps .step:hover {
  margin-top: -8px;
}
#page-index .steps .step img {
  width: 200px;
  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
}
#page-index .contact {
  padding-top: 80px;
  position: relative;
}
#page-index .contact h1 {
  margin-top: 0;
}
#page-index .contact .map-wap {
  position: absolute;
  background-color: #e9eae1;
  display: none;
  top: 0px;
  left: 0;
  width: 100%;
  height: 526px;
  z-index: 1000;
}
#page-index .contact .map-wap #map-canvas {
  height: 526px;
  width: 100%;
}
#page-index .contact .map-wap .hide-map {
  position: absolute;
  font-weight: lighter;
  right: 30px;
  top: 30px;
  font-size: 50px;
  z-index: 1002;
  cursor: pointer;
}
#page-index .contact .phone-wap {
  position: absolute;
  display: none;
  top: 0px;
  left: 0;
  width: 100%;
  height: 526px;
  z-index: 1000;
  background-color: #2e353b;
  color: #d0d3d8;
  text-align: center;
}
#page-index .contact .phone-wap .phonenum {
  padding-top: 150px;
  font-size: 80px;
  margin-bottom: 20px;
}
#page-index .contact .phone-wap .phonenum span {
  font-size: 70px;
  color: #50575E;
}
#page-index .contact .phone-wap .pronouciation {
  display: inline-block;
  font-size: 20px;
  font-weight: lighter;
  padding: 8px 18px;
  border-radius: 2px;
  background-color: #42494e;
  color: #d0d3d8;
}
#page-index .contact .phone-wap .pronouciation span {
  color: #6F757A;
}
#page-index .contact .phone-wap .hide-phone {
  position: absolute;
  font-weight: lighter;
  right: 30px;
  top: 30px;
  font-size: 50px;
  z-index: 1002;
  cursor: pointer;
}
#page-index .contact .text-wap {
  padding: 50px 0 0 50px;
}
#page-index .contact .text-wap .title {
  font-size: 26px;
  margin-bottom: 20px;
}
#page-index .contact .text-wap ul {
  font-size: 16px;
}
#page-index .contact .text-wap ul li {
  margin-bottom: 10px;
}
#page-index .contact .text-wap ul li .fa,
#page-index .contact .text-wap ul li .glyphicon {
  margin-right: 10px;
}
#page-index .footer {
  margin-top: 0;
}
