.text-error {
  color: red;
}
.text-main {
  color: #36a9e5;
}
.text-black {
  color: #333333;
}
.text-light {
  color: gray;
}
.table-vertical-middle > tbody > tr > td {
  vertical-align: middle;
}
.avatar {
  width: 72px;
  height: 72px;
}
.avatar-sm {
  width: 48px;
  height: 48px;
}
.avatar-lg {
  width: 96px;
  height: 96px;
}
.avatar-xl {
  width: 176px;
  height: 176px;
}
.col-top-gap {
  margin-top: 20px;
}
.no-margin-top {
  margin-top: 0;
}
