@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: lighter;
  src: url(/static/fonts/lato-light-webfont.woff) format('woff');
}
@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: normal;
  src: url(/static/fonts/lato-regular-webfont.woff) format('woff');
}
@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: bold;
  src: url(/static/fonts/lato-bold-webfont.woff) format('woff');
}
@font-face {
  font-family: 'nexa';
  font-style: normal;
  font-weight: lighter;
  src: url(/static/fonts/nexa-light-webfont.woff) format('woff');
}
@font-face {
  font-family: 'nexa';
  font-style: normal;
  font-weight: normal;
  src: url(/static/fonts/nexa-bold-webfont.woff) format('woff');
}
@font-face {
  font-family: 'iconfont';
  src: url('/static/fonts/iconfont.eot');
  src: url('/static/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/static/fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('/static/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('/static/fonts/iconfont.svg#uxiconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
h1.legend {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
.text-error {
  color: red;
}
.text-main {
  color: #36a9e5;
}
.text-black {
  color: #333333;
}
.text-light {
  color: gray;
}
.table-vertical-middle > tbody > tr > td {
  vertical-align: middle;
}
.avatar {
  width: 72px;
  height: 72px;
}
.avatar-sm {
  width: 48px;
  height: 48px;
}
.avatar-lg {
  width: 96px;
  height: 96px;
}
.avatar-xl {
  width: 176px;
  height: 176px;
}
.col-top-gap {
  margin-top: 20px;
}
.no-margin-top {
  margin-top: 0;
}
