@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(/static/fonts/AwBqWF2kjhlybWamaKMPcbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(/static/fonts/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(/static/fonts/yVHpdQrmTj9Kax1tmFSx2rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@media (min-width: 1200px) {
  .container {
    width: 980px;
  }
}
body {
  margin-top: 80px;
}
a {
  color: #333333;
}
a:hover {
  color: #36a9e5;
}
.flash-message {
  background-color: #36a9e5;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
  padding: 27.5px;
  font-size: 18px;
}
#page-search-students #nav-search-students a,
#page-search-teachers #nav-search-teachers a,
#page-user-dialogs #nav-dialogs a,
#page-user-dialog #nav-dialogs a,
#page-user-teacher-settings #nav-settings a,
#page-user-student-settings #nav-settings a,
#page-account-signin #nav-signin a,
#page-account-signup-select-role #nav-signup a,
#page-account-signup #nav-signup a {
  color: #555;
  background-color: #e7e7e7;
}
.navbar {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #dddddd;
}
.navbar.condensed .navbar-header {
  padding-top: 0px;
}
.navbar.condensed .navbar-collapse {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar .navbar-header {
  padding-top: 15px;
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
}
.navbar .navbar-header .navbar-brand {
  display: inline-block;
  padding-bottom: 20px;
  font-size: 22px;
}
.navbar .navbar-collapse {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
}
.navbar .navbar-collapse .navbar-nav > li > a {
  padding: 15px 20px;
  font-size: 16px;
}
.navbar .navbar-collapse .navbar-nav > li > a:hover {
  background-color: transparent;
}
.navbar .navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 20px;
}
.footer {
  padding: 20px 0;
  line-height: 1;
  margin-top: 80px;
  border-top: 1px solid #dddddd;
  font-size: 13px;
}
.footer .cp {
  float: right;
}
.footer .links-left {
  float: left;
}
.footer .links-left li {
  padding-right: 10px;
}
.footer .links-right {
  float: right;
  margin-left: 10px;
}
.footer .usa {
  display: block;
  margin-left: 12px;
  height: 14px;
}
