@import "utils";

@media (min-width: 1200px) {
  .container {
    width: 980px;
  }
}

html {
}

body {
}

a {
  color: #333333;

  &:hover {
    color: @main-color;
  }
}

// Flash消息
.flash-message {
  background-color: @main-color;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
}

// Nav highlight
#page-search-students #nav-search-students,
#page-search-teachers #nav-search-teachers,
#page-user-dialogs #nav-dialogs,
#page-user-dialog #nav-dialogs,
#page-user-teacher-settings #nav-settings,
#page-user-student-settings #nav-settings,
#page-account-signin #nav-signin,
#page-account-signup-select-role #nav-signup,
#page-account-signup #nav-signup {
  a {
    color: #555;
    background-color: #e7e7e7;
  }
}

.navbar {
  margin-bottom: 0;
  background-color: white;
  border-bottom: 1px solid #dddddd;

  .navbar-brand {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 22px;
  }

  .navbar-nav > li > a {
    padding: 30px 20px;
    font-size: 16px;

    &:hover {
      background-color: transparent;
    }
  }

  .navbar-btn {
    margin-top: 23px;
    padding: 7px 12px;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: 20px;
  }
}

.footer {
  padding: 30px 0;
  margin-top: 80px;
  border-top: 1px solid #dddddd;

  .cp {
    float: left;
  }

  .slogan {
    float: right;
    font-size: 18px;
  }
}