@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: lighter;
  src: url(/static/fonts/lato-light-webfont.woff) format('woff');
}
@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: normal;
  src: url(/static/fonts/lato-regular-webfont.woff) format('woff');
}
@font-face {
  font-family: 'latobold';
  font-style: normal;
  font-weight: bold;
  src: url(/static/fonts/lato-bold-webfont.woff) format('woff');
}
@font-face {
  font-family: 'iconfont';
  src: url('/static/fonts/iconfont.eot');
  src: url('/static/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/static/fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('/static/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('/static/fonts/iconfont.svg#uxiconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin-top: 81px;
}
a {
  color: #333333;
}
a:hover {
  color: #36a9e5;
}
.flash-message {
  background-color: #36a9e5;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
  padding: 27.5px;
  font-size: 18px;
}
#page-search-students #nav-search-students a,
#page-search-teachers #nav-search-teachers a,
#page-user-dialogs #nav-dialogs a,
#page-user-dialog #nav-dialogs a,
#page-user-teacher-settings #nav-settings a,
#page-user-student-settings #nav-settings a,
#page-account-signin #nav-signin a,
#page-account-signup-select-role #nav-signup a,
#page-account-signup #nav-signup a {
  color: #555;
  background-color: #e7e7e7;
}
.navbar {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #dddddd;
}
.navbar.condensed .navbar-header {
  padding-top: 0px;
}
.navbar.condensed .navbar-collapse {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar .navbar-header {
  padding-top: 0px;
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
}
.navbar .navbar-header .navbar-brand {
  display: inline-block;
  padding: 10px 0 0 20px;
  font-size: 22px;
}
.navbar .navbar-header .navbar-brand img {
  width: 60px;
}
.navbar .navbar-header .navbar-brand sup {
  font-size: 12px;
  line-height: 1;
  top: -1em;
}
.navbar .navbar-collapse {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
}
.navbar .navbar-collapse .navbar-nav > li > a {
  padding: 15px;
}
.navbar .navbar-collapse .navbar-nav > li > a:hover {
  background-color: transparent;
}
.navbar .navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 20px;
}
.footer {
  background-color: #4f5161;
  padding: 45px 0;
  line-height: 1;
  margin-top: 80px;
  color: white;
}
.footer .footer-left .links {
  margin-bottom: 18px;
}
.footer .footer-left .links li {
  padding-right: 15px;
}
.footer .footer-left .links li a {
  color: white;
}
.footer .footer-left .links li a:hover {
  color: #36a9e5;
}
.footer .footer-left .usa {
  display: block;
  margin-left: 12px;
  height: 16px;
  margin-top: 0px;
}
.footer .footer-left .cp {
  margin-bottom: 18px;
}
.footer .footer-left .icons {
  font-size: 18px;
  margin-bottom: 0;
}
.footer .footer-left .icons li {
  padding-right: 8px;
}
.footer .footer-left .icons li a {
  color: white;
}
.footer .footer-left .icons li a:hover {
  color: #36a9e5;
}
.footer .footer-right {
  text-align: right;
}
.footer .footer-right .logo {
  font-size: 22px;
  margin-bottom: 15px;
}
.footer .footer-right .slogan {
  line-height: 20px;
}
