@media (min-width: 1200px) {
  .container {
    width: 980px;
  }
}
a {
  color: #333333;
}
a:hover {
  color: #36a9e5;
}
.flash-message {
  background-color: #36a9e5;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
}
#page-search-students #nav-search-students a,
#page-search-teachers #nav-search-teachers a,
#page-user-dialogs #nav-dialogs a,
#page-user-dialog #nav-dialogs a,
#page-user-teacher-settings #nav-settings a,
#page-user-student-settings #nav-settings a,
#page-account-signin #nav-signin a,
#page-account-signup-select-role #nav-signup a,
#page-account-signup #nav-signup a {
  color: #555;
  background-color: #e7e7e7;
}
.navbar {
  margin-bottom: 0;
  background-color: white;
  border-bottom: 1px solid #dddddd;
}
.navbar .navbar-brand {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 20px;
}
.navbar .navbar-nav > li > a {
  padding: 30px 20px;
}
.navbar .navbar-nav > li > a:hover {
  background-color: transparent;
}
.navbar .navbar-btn {
  margin-top: 23px;
  padding: 7px 12px;
}
.navbar .navbar-nav.navbar-right:last-child {
  margin-right: 20px;
}
