{% extends "layout.html" %}

{% block page_id %}page-business{% endblock %}
{% block page_title %}Start Your Business{% endblock %}
{% block page_css %}
   {{ link('css/share/fancySelect.css') }}
   {{ link('css/site/business.css') }}
{% endblock %}
{% block page_js %}
   {{ script('bower_components/fancyselect/fancySelect.js') }}
   {{ script('js/site/business.js') }}
{% endblock %}

{% macro select_field(field) %}
   <select class="form-control {% if field.errors %}field-error{% endif %}"
           name="{{ field.name }}" id="{{ field.id }}">
      {% for value, text in field.choices %}
         <option value="{{ value }}"
                 {% if field.data == value %}selected{% endif %}>
            {{ text }}
         </option>
      {% endfor %}
   </select>
{% endmacro %}

{% block page_content %}
   <div class="container">
      <div class="row">
         <div class="form-wap center-block">
            <h1 class="text-center">Boost Your Business With US</h1>

            <form role="form" method="post">
               {{ form.csrf_token() }}

               <div class="form-group text-center clearfix">
                  <div class="btn-group project-type-selector {% if form.type.errors %}field-error{% endif %}"
                       data-toggle="buttons">
                     {% for value, text in form.type.choices %}
                        {# 若form.type中有数据，且当前选项的value存在于form.type.data，则选中 #}
                        {% if form.type.data %}
                           {% set checked = True if value in form.type.data else False %}
                        {% else %}
                           {# 若没有数据，则默认选中第一个选项 #}
                           {% set checked = loop.first %}
                        {% endif %}

                        <label class="btn btn-primary {% if checked %}active{% endif %}">
                           <input type="checkbox" name="type" value="{{ value }}"
                                  {% if checked %}checked{% endif %}>
                           <span class="fa fa-check"></span>&nbsp;&nbsp;{{ text }}
                        </label>
                     {% endfor %}
                  </div>
               </div>

               <div class="form-group">
                  <div class="clearfix">
                     {{ select_field(form.bugget) }}
                     {{ select_field(form.period) }}
                     {{ select_field(form.hire_type) }}
                  </div>
               </div>

               <div class="form-group">
                  <textarea rows=8 id="desc" name="desc"
                            class="form-control {% if form.desc.errors %}field-error{% endif %}"
                            placeholder="Let us do the heavy lifting. What's on your mind?">{{ form.desc.data or "" }}</textarea>
               </div>

               <div class="form-group">
                  <input type="text" name="name" id="name"
                         class="form-control {% if form.name.errors %}field-error{% endif %}"
                         placeholder="Your name" value="{{ form.name.data or "" }}">
               </div>

               <div class="form-group">
                  <input type="text" name="email" id="email"
                         class="form-control {% if form.email.errors %}field-error{% endif %}"
                         placeholder="Your email" value="{{ form.email.data or "" }}">
               </div>

               <button type="submit" class="btn btn-primary btn-lg btn-block">
                  <span class="fa fa-paper-plane"></span>&nbsp;&nbsp;Submit
               </button>
            </form>
         </div>
      </div>
   </div>
{% endblock %}