{% extends "layout.html" %}

{% block page_id %}page-business{% endblock %}
{% block page_title %}Start Your Business{% endblock %}
{% block page_css %}
   {{ link('css/share/fancySelect.css') }}
   {{ link('css/site/business.css') }}
{% endblock %}
{% block page_js %}
   {{ script('bower_components/fancyselect/fancySelect.js') }}
   {{ script('js/site/business.js') }}
{% endblock %}

{% block page_content %}
   <div class="container">
      <div class="row">
         <div class="form-wap center-block">
            <h1 class="text-center">Start Your Project</h1>

            <form role="form" method="post">
               {{ form.csrf_token() }}

               <div class="form-group clearfix">
                  <div class="btn-group project-type-selector" data-toggle="buttons">
                     <label class="btn btn-primary active">
                        <input type="checkbox" name="type" value="WM" checked>
                        <span class="fa fa-check"></span>&nbsp;&nbsp;Web & Mobile
                     </label>
                     <label class="btn btn-primary">
                        <input type="checkbox" name="type" value="GG">
                        <span class="fa fa-check"></span>&nbsp;&nbsp;GeoEngine & GeoDatastore
                     </label>
                     <label class="btn btn-primary">
                        <input type="checkbox" name="type" value="SS">
                        <span class="fa fa-check"></span>&nbsp;&nbsp;System & Server
                     </label>
                  </div>
               </div>

               <div class="form-group">
                  <div class="clearfix">
                     <select class="form-control" name="bugget" id="bugget">
                        <option>Project Bugget</option>
                        <option>Less than $1000</option>
                        <option>$1000 ~ $2000</option>
                        <option>$2000 ~ $5000</option>
                        <option>More than $5000</option>
                     </select>

                     <select class="form-control" name="period" id="period">
                        <option>Project Period</option>
                        <option>1 month</option>
                        <option>1 ~ 3 month</option>
                        <option>more than 3 months</option>
                     </select>

                     <select class="form-control" name="hire_type" id="hire-type">
                        <option>Hire Type</option>
                        <option>Hire Type 1</option>
                        <option>Hire Type 2</option>
                        <option>Hire Type 3</option>
                     </select>
                  </div>
               </div>

               <div class="form-group">
                  <textarea rows=8 class="form-control" id="desc" name="desc"
                            placeholder="Description about your project"></textarea>
               </div>

               <div class="form-group">
                  <input type="text" class="form-control" name="name" id="name"
                         placeholder="Your name">
               </div>

               <div class="form-group">
                  <input type="text" class="form-control" name="email" id="email"
                         placeholder="Email">
               </div>

               <button type="submit" class="btn btn-primary btn-lg btn-block">
                  <span class="fa fa-paper-plane"></span>&nbsp;&nbsp;Submit
               </button>
            </form>
         </div>
      </div>
   </div>
{% endblock %}