{% extends "layout.html" %}

{% block page_id %}page-index{% endblock %}
{% block page_title %}TUI Studio | Boost Your Business With US{% endblock %}
{% block page_css %}
   {{ link('css/site/index.css') }}
{% endblock %}
{% block page_js %}
   {{ script('js/site/index.js') }}
{% endblock %}

{% block page_content %}
   <div class="banner">
      <div class="container">
         <div class="banner-text">
            <h1 class="text-center">Boost Your Business With US</h1>

            <p class="text-center">TUI Studio is a passionate team focusing on Web solutions.</p>
         </div>

         <ul class="icons list-inline list-unstyled">
            <li>
               <a href="http://twitter.com" target="_blank" title="Twitter">
                  <span class="fa fa-twitter"></span>
               </a>
            </li>
            <li>
               <a href="https://dribbble.com/tuistudio" target="_blank" title="Dribbble">
                  <span class="fa fa-dribbble"></span>
               </a>
            </li>
            <li>
               <a href="https://github.com/tuistudio" target="_blank" title="GitHub">
                  <span class="fa fa-github"></span>
               </a>
            </li>
         </ul>
      </div>
   </div>

   <div class="services">
      <div class="container">
         <h1>SERVICES</h1>

         <div class="row clearfix">
            <div class="col-sm-4 service">
               <i class="iconfont">&#xe600;</i>

               <p class="title">Web & Mobile</p>

               <div class="gap"></div>

               <p class="desc">Description about Web & Mobile service. Description about Web &
                  Mobile service.</p>
            </div>

            <div class="col-sm-4 service">
               <i class="iconfont">&#xe601;</i>

               <p class="title">GeoEngine & GeoDatastore</p>

               <div class="gap"></div>

               <p class="desc">Description about Web & Mobile service. Description about Web &
                  Mobile service.</p>
            </div>

            <div class="col-sm-4 service">
               <i class="iconfont">&#xe602;</i>

               <p class="title">System & Server</p>

               <div class="gap"></div>

               <p class="desc">Description about Web & Mobile service. Description about Web &
                  Mobile service.</p>
            </div>
         </div>
      </div>
   </div>

   <div class="container works">
      <h1 class="title">WORKS</h1>

      <div class="work-logos-wap">
         <div class="work-logo" data-scroll-target="aod">
            <div class="bg"></div>
            <div class="logo aod-logo"></div>
         </div>

         <div class="work-logo" data-scroll-target="lemaker">
            <div class="bg"></div>
            <div class="logo lemaker-logo"></div>
         </div>

         <div class="work-logo" data-scroll-target="zj">
            <div class="bg"></div>
            <div class="logo zj-logo"></div>
         </div>

         <div class="work-logo" data-scroll-target="lft">
            <div class="bg"></div>
            <div class="logo lft-logo"></div>
         </div>

         <div class="work-logo" data-scroll-target="tq">
            <div class="bg"></div>
            <div class="logo tq-logo"></div>
         </div>
      </div>
   </div>

   <div class="work aod">
      <div class="container clearfix">
         <h1>AOD</h1>

         <div class="image-wap">
            <img class="center-block img-responsive" src="{{ static('image/works/aod.png') }}"
                 alt="">
         </div>
      </div>
   </div>

   <div class="work lemaker">
      <div class="container clearfix">
         <h1>LeMaker</h1>

         <div class="image-wap">
            <img class="center-block img-responsive" src="{{ static('image/works/lemaker.png') }}"
                 alt="">
         </div>
      </div>
   </div>

   <div class="work zj">
      <div class="container clearfix">
         <h1>Zhongjie</h1>

         <div class="image-wap">
            <img class="center-block img-responsive"
                 src="{{ static('image/works/zj.jpg') }}" alt="">
         </div>
      </div>
   </div>

   <div class="work lft">
      <div class="container clearfix">
         <h1>Lifengtang</h1>

         <div class="image-wap">
            <img class="center-block img-responsive"
                 src="{{ static('image/works/lifengtang.jpg') }}"
                 alt="">
         </div>
      </div>
   </div>

   <div class="work tq">
      <div class="container clearfix">
         <h1>Tianqing</h1>

         <div class="image-wap">
            <img class="center-block img-responsive" src="{{ static('image/works/tianqing.jpg') }}"
                 alt="">
         </div>
      </div>
   </div>

   <div class="techs">
      <div class="container">
         <h1 class="title">TECHS</h1>

         <img class="img-responsive center-block tech-icons" src="{{ static('image/techs.png') }}"
              alt=""/>

         <div class="row screen">
            <div class="col-sm-6 design-screen">
               <img src="{{ static('image/tech-screen.png') }}" class="img-responsive" alt=""/>
            </div>
            <div class="col-sm-6 tech-screen">
               <img src="{{ static('image/tech-screen.png') }}" class="img-responsive" alt=""/>
            </div>
         </div>

      </div>
   </div>

   <div class="process">
      <div class="container">
         <h1 class="title">PROCESS</h1>

         <div class="row">
            <div class="col-sm-3 text-center">
               <p>Discover & Plan</p>
               <img src="http://placehold.it/150x150" alt=""/>
            </div>

            <div class="col-sm-3 text-center">
               <p>Concept & Refine</p>
               <img src="http://placehold.it/150x150" alt=""/>
            </div>

            <div class="col-sm-3 text-center">
               <p>Build & Deploy</p>
               <img src="http://placehold.it/150x150" alt=""/>
            </div>

            <div class="col-sm-3 text-center">
               <p>Grow & Measure</p>
               <img src="http://placehold.it/150x150" alt=""/>
            </div>
         </div>
      </div>
   </div>

   <div class="contact">
      {#      <h1 class="title">CONTACT</h1>#}

      <div class="map-wap">
         <span class="glyphicon glyphicon-remove hide-map"></span>

         <div id="map-canvas"></div>
      </div>

      <div class="phone-wap">
         <span class="glyphicon glyphicon-remove hide-phone"></span>

         <div class="phonenum">
            <span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;&nbsp;1-270-303-0721
         </div>
         <div class="pronouciation">
            <span class="fa fa-volume-up"></span>&nbsp;&nbsp;TUI is pronouced /too-ee/
         </div>
      </div>

      <div class="container">
         <div class="row">
            <div class="col-sm-6 image-wap">
               <img class="img-responsive" src="{{ static('image/usa_map.jpg') }}" alt=""/>
            </div>

            <div class="col-sm-6 text-wap">
               <div class="title">Please feel free to contact us at anytime.</div>

               <ul class="list-unstyled">
                  <li>
                     <a href="javascript:void(0)" class="show-map">
                        <span class="glyphicon glyphicon-home"></span>
                        1012 E 10th Ave, Bowling Green, KY
                     </a>
                  </li>
                  <li>
                     <a href="mailto:hi@tuistudio.com">
                        <span class="fa fa-envelope-o"></span> hi@tuistudio.com
                     </a>
                  </li>
                  <li>
                     <a href="javascript:void(0)" class="show-phone">
                        <span class="glyphicon glyphicon-phone-alt"></span> 1-270-303-0721
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   {#   <div>#}
   {#      <div class="container">#}
   {#         <h1 class="title">Team</h1>#}
   {##}
   {#         <div class="row clearfix">#}
   {#            <div class="col-sm-6 col-md-4 member">#}
   {#               <img src="http://placehold.it/150x150" class="img-circle" alt=""/>#}
   {##}
   {#               <p>Huajian Zhang</p>#}
   {#            </div>#}
   {##}
   {#            <div class="col-sm-6 col-md-4 member">#}
   {#               <img src="http://placehold.it/150x150" class="img-circle" alt=""/>#}
   {##}
   {#               <p>Zhipeng Liu</p>#}
   {#            </div>#}
   {##}
   {#            <div class="col-sm-6 col-md-4 member">#}
   {#               <img src="http://placehold.it/150x150" class="img-circle" alt=""/>#}
   {##}
   {#               <p>Jian Zhao</p>#}
   {#            </div>#}
   {#         </div>#}
   {#      </div>#}
   {#   </div>#}
{% endblock %}