{% extends "layout.html" %}

{% block page_id %}page-index{% endblock %}
{% block page_title %}TUI Studio{% endblock %}
{% block page_css %}
   {{ link('css/site/index.css') }}
{% endblock %}
{% block page_js %}
   {{ script('js/site/index.js') }}
{% endblock %}

{% block page_content %}
   <div class="market">
      <div class="container">
         <h1 class="text-center">Boost Your Business With US</h1>

         <p class="text-center">TUI Studio is a passionate team focusing on Web solutions.</p>

         <ul class="icons list-inline list-unstyled">
            <li>
               <a href="http://twitter.com" target="_blank" title="Twitter">
                  <span class="fa fa-twitter"></span>
               </a>
            </li>
            <li>
               <a href="https://dribbble.com/tuistudio" target="_blank" title="Dribbble">
                  <span class="fa fa-dribbble"></span>
               </a>
            </li>
            <li>
               <a href="https://github.com/tuistudio" target="_blank" title="GitHub">
                  <span class="fa fa-github"></span>
               </a>
            </li>
         </ul>
      </div>
   </div>

   <div class="services">
      <div class="container">
         <h1>Services</h1>

         <div class="row clearfix">
            <div class="col-sm-4 service">
               <span class="fa fa-android"></span>

               <p class="title">Web & Mobile</p>

               <div class="gap"></div>

               <p class="desc">Description about Web & Mobile service. Description about Web &
                  Mobile service.</p>
            </div>

            <div class="col-sm-4 service">
               <span class="fa fa-map-marker"></span>

               <p class="title">GeoEngine & GeoDatastore</p>

               <div class="gap"></div>

               <p class="desc">Description about Web & Mobile service. Description about Web &
                  Mobile service.</p>
            </div>

            <div class="col-sm-4 service">
               <span class="fa fa-database"></span>

               <p class="title">System & Server</p>

               <div class="gap"></div>

               <p class="desc">Description about Web & Mobile service. Description about Web &
                  Mobile service.</p>
            </div>
         </div>
      </div>
   </div>

   <div class="container works">
      <h1 class="title">Our Works</h1>

      <div class="row clearfix">
         <img src="{{ static('image/aod_gray.png') }}" class="aod-logo" data-scroll-target="aod"
              alt="AOD"/>
         <img src="{{ static('image/lemaker_gray.png') }}" class="lemaker-logo"
              data-scroll-target="lemaker" alt="LeMaker"/>
         <img src="{{ static('image/aod_gray.png') }}" class="tq-logo" data-scroll-target="tq"
              alt="Tianqing"/>
         <img src="{{ static('image/lemaker_gray.png') }}" class="lft-logo"
              data-scroll-target="lft" alt="Lifengtang"/>
      </div>
   </div>

   <div class="work aod">
      <div class="container clearfix">
         <h1>AOD</h1>

         <div class="image-wap">
            <img class="center-block img-responsive" src="{{ static('image/works/aod.png') }}"
                 alt="">
         </div>
      </div>
   </div>

   <div class="work lemaker">
      <div class="container clearfix">
         <h1>LeMaker</h1>

         <div class="image-wap">
            <img class="center-block img-responsive" src="{{ static('image/works/lemaker.png') }}"
                 alt="">
         </div>
      </div>
   </div>

   <div class="work lft">
      <div class="container clearfix">
         <h1>Lifengtang</h1>

         <div class="image-wap">
            <img class="center-block img-responsive"
                 src="{{ static('image/works/lifengtang.jpg') }}"
                 alt="">
         </div>
      </div>
   </div>

   <div class="work tq">
      <div class="container clearfix">
         <h1>Tianqing</h1>

         <div class="image-wap">
            <img class="center-block img-responsive" src="{{ static('image/works/tianqing.jpg') }}"
                 alt="">
         </div>
      </div>
   </div>

   <div class="techs">
      <div class="container">
         {#         <h1 class="title">Technologies we use</h1>#}

         <img class="img-responsive center-block" src="{{ static('image/techs.png') }}" alt=""/>
      </div>
   </div>

   <div class="process">
      <div class="container">
         <h1 class="title">Process</h1>

         <div class="row">
            <div class="col-sm-3 text-center">
               <p>Discover & Plan</p>
               <img src="http://placehold.it/150x150" alt=""/>
            </div>

            <div class="col-sm-3 text-center">
               <p>Concept & Refine</p>
               <img src="http://placehold.it/150x150" alt=""/>
            </div>

            <div class="col-sm-3 text-center">
               <p>Build & Deploy</p>
               <img src="http://placehold.it/150x150" alt=""/>
            </div>

            <div class="col-sm-3 text-center">
               <p>Grow & Measure</p>
               <img src="http://placehold.it/150x150" alt=""/>
            </div>
         </div>
      </div>
   </div>

   <div class="contact">
      <div class="container">
         <h1 class="title">Contact</h1>

         <div class="row">
            <div class="col-sm-7">
               <img class="img-responsive" src="{{ static('image/usa_map.jpg') }}" alt=""/>
            </div>

            <div class="col-sm-5">
               <ul class="list-unstyled">
                  <li>
                     <span class="glyphicon glyphicon-home"></span> Bowling Green, KY
                  </li>
                  <li>
                     <span class="fa fa-envelope-o"></span> hi@tuistudio.com
                  </li>
                  <li>
                     <span class="fa fa-fax"></span> 1-111-111-1111
                  </li>
                  <li>
                     <span class="glyphicon glyphicon-phone-alt"></span> 1-270-303-0721
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   {#   <div>#}
   {#      <div class="container">#}
   {#         <h1 class="title">Team</h1>#}
   {##}
   {#         <div class="row clearfix">#}
   {#            <div class="col-sm-6 col-md-4 member">#}
   {#               <img src="http://placehold.it/150x150" class="img-circle" alt=""/>#}
   {##}
   {#               <p>Huajian Zhang</p>#}
   {#            </div>#}
   {##}
   {#            <div class="col-sm-6 col-md-4 member">#}
   {#               <img src="http://placehold.it/150x150" class="img-circle" alt=""/>#}
   {##}
   {#               <p>Zhipeng Liu</p>#}
   {#            </div>#}
   {##}
   {#            <div class="col-sm-6 col-md-4 member">#}
   {#               <img src="http://placehold.it/150x150" class="img-circle" alt=""/>#}
   {##}
   {#               <p>Jian Zhao</p>#}
   {#            </div>#}
   {#         </div>#}
   {#      </div>#}
   {#   </div>#}
{% endblock %}